body{
    background-image: url("slika1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#box{
    background-color: white;
    color: palevioletred;
    padding: 10px;
    border: 4px solid palevioletred;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right:auto;
    margin-left: 400px;
}